.wrapper {
    width: 100%;
    height: 100%;
    background-color: white;
	font: red;
	font-size: 20px;
}

#debug-area
{
	position: fixed;
	width: calc(100% - 300px);
	height: 200px;
    font-size: 20px;
	background-color: black;
	color : white;
    bottom: 0;
	right: 0;
}


.tree-wrapper {
    width: 300px;
    float: left;
    font-size: 20px;
	background-color: white;
}

.main-wrapper {
	position: fixed;
    width: calc(100% - 300px);
    float: left;
    color : red;
	border: black;
	right: 0;
}

#tabs .tabs-nav {
	background-color : white;
	border: black;
	padding: 0;
	font-size: small;
}

#tabs .tabs-nav a {
    position: relative;
    padding-right: 30px;
	background-color: gainsboro;
	color: black;
	max-width: 125px;
    overflow: hidden;

}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: -1px;
    padding-bottom: 1px;
    background-color: grey;
	font-size: small;
}

.ui-tabs .ui-tabs-panel {
    padding: 0 !important;
}

#tabs .tabs-nav .close {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    color: blue;
    right: 5px;
    top: 8px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.CodeMirror-linenumber {
    position: relative;
}

.CodeMirror-linenumber.has-breakpoint::before {
    display: block;
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: red;
    border-radius: 50%;
    top: 4px;
}

.editor-wrap {
    height: calc(100vh - 113px - 165px);
	font-size: medium;
	font-style: italic;
}



jstree-default .jstree-node, .jstree-default .jstree-icon {
    background-image: url("https://www.download3k.com/images/icon.gif?v=2") !important;
	font-style: normal;

}

.jstree-default .jstree-leaf>.jstree-ocl {
	background-size: 85%;
    background-position: center !important;
}

.jstree-node, .jstree-children, .jstree-container-ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    font-size: medium;
>>>>>>> Stashed changes
}

#tabs .tabs-nav {

}

#tabs .tabs-nav a {
    position: relative;
    padding-right: 30px;
}

#tabs .tabs-nav .close {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    color: #000;
    right: 5px;
    top: 8px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.CodeMirror {
    border: 1px solid #eee;
    height: auto;
}

.CodeMirror-linenumber {
    position: relative;
}

.CodeMirror-linenumber.has-breakpoint::before {
    display: block;
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: red;
    border-radius: 50%;
    top: 4px;
}
