.wrapper {
    width: 100%;
    height: 100%;
    background-color: white;
    font: red;
    font-size: 20px;
}

#debug-area {
    position: fixed;
    width: calc(100% - 306px);
    height: 197px;
    font-size: 20px;
    background-color: black;
    color: white;
    bottom: 0;
    right: 0;
	margin-bottom: 3px;
	margin-right: 3px;
	margin-left: 3px;
    padding-top: 30px;
}

#debug-area .btn-next {
    position: absolute;
    top: 3px;
    right: 5px;
    background: #ccc;
    border-radius: 5px;
    box-shadow: none;
    padding: 5px 10px;
    border: 1px solid #222;
    cursor: pointer;
    transition: 0.2s all;
}

#debug-area .btn-next:hover {
    background: #222;
    color: #ccc;
}

.debug-area-text {
    font-size: 16px;
    padding: 15px;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
    max-height: 100%;
    overflow-y: auto;
}

.debug-area-text p {
    margin: 0 0 5px;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}


.CodeMirror-code>div {
    transition: 0.2s all;
}

.CodeMirror-code>div.hey {
    background: red;
    padding: 5px 0;
}

.tree-wrapper {
    width: 100%px;
    float: left;
    font-size: 20px;
    background-color: white;
	padding-top: 5px;
}

.main-wrapper {
    position: fixed;
    width: calc(100% - 300px);
    float: left;
    color: red;
    border: black;
    right: 0;
}

#tabs .tabs-nav {
    background-color: white;
    border: black;
    padding: 0;
    font-size: small;
}

#tabs .tabs-nav a {
    position: relative;
    padding-right: 30px;
    background-color: gainsboro;
    color: black;
    max-width: 125px;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: -1px;
    padding-bottom: 1px;
    background-color: grey;
    font-size: small;
}

.ui-tabs .ui-tabs-panel {
    padding: 0 !important;
}

.CodeMirror-linenumber {
    position: relative;
}

.CodeMirror-linenumber.has-breakpoint::before {
    display: block;
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: red;
    border-radius: 50%;
    top: 4px;
}

.editor-wrap {
    height: calc(100vh - 200px);
    font-size: medium;
    font-style: italic;
}

#tabs .tabs-nav {

}

#tabs .tabs-nav a {
    position: relative;
    padding-right: 30px;
}

#tabs .tabs-nav .close {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    color: #000;
    right: 5px;
    top: 50%;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 12px;
    margin-top: -10px;
}

.CodeMirror {
    border: 1px solid #eee;
    height:auto;
	width: 100%;
	display: inline-block;
}

.cm-s-night.CodeMirror
{
	height: 100%;
}

.CodeMirror pre {
	font-size: 15px;
	font-style: normal;

}
.CodeMirror-linenumber {
    position: relative;
}

.CodeMirror-linenumber.has-breakpoint::before {
    display: block;
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: red;
    border-radius: 50%;
    top: 4px;
}

.editor-wrap {
    height: calc(100vh - 250px);
}

.tree-menu
{
    height: 27px;
    background-color: gainsboro;
    border: 1px solid #d6d6d6;
    padding-left: 5px;
    font-size: 12px;
    font-style: normal;
    line-height: 27px;
    text-transform: uppercase;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}

#tree
{
    width: 287px;
    float: left;
    font-size: 20px;
    background-color: white;

    border: 1px solid grey;
    margin-right: 10px;
    height: 672px;
}


ul.haya {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: medium;
    line-height: 5px;
    background-color: gainsboro;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

ul.haya li {
    float: left;
}

ul.haya li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	background-color: gainsboro;
    block-size: 5px;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}

ul.haya li a:hover {
    background-color: white;
}

ul.haya .active {
    background-color: red;
}

