<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Phoenix IDE</title>

    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="../lib/codemirror.css"/>
    <link rel="stylesheet" href="../lib/night.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="API.css"/>

    <script>if (typeof module === 'object') {
        window.module = module;
        module = undefined;
    }</script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <!-- Insert this line after script imports -->
    <script>if (window.module) module = window.module;</script>

    <link rel="stylesheet" href="../node_modules/x-chrome-tabs/src/css/base.min.css"/>
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="../lib/codemirror.css"/>
    <link rel="stylesheet" href="../lib/night.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="../helpers/zTree_v3/css/zTreeStyle/zTreeStyle.css"/>

    <script>
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <!-- Insert this line after script imports -->
    <script>
        if (window.module) {
            module = window.module;
        }
    </script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
    <script type="text/javascript" src="../helpers/zTree_v3/js/jquery.ztree.all.js"></script>

    <script src="../lib/codemirror.js"></script>
    <script src="../lib/perl.js"></script>
</head>
<body>
<!-- All of the Node.js APIs are available in this renderer process. -->
<!--We are using Node.js <script>document.write(process.versions.node)</script>,
Chromium <script>document.write(process.versions.chrome)</script>,
and Electron <script>document.write(process.versions.electron)</script>.
-->

<div class="wrapper">
	<div id="tree">
		<div class="tree-menu">Working Tree</div>
		<div class="tree-wrapper">
		
			<ul class="ztree"></ul>
		</div>
	</div>
    <div class="main-wrapper">
	<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
		API Name/Path:<br><input type="text" id="api_full_path" style="width:100%"><br>
		<br>
		<div id="options">
		Supported OS's:<br>
		<input type="checkbox" id="api_all_os_support" checked>All OS's<br>
		<input type="checkbox">RH Family<br>
		<input type="checkbox">RH 7.2<br>
		<input type="checkbox">Ubuntu Family<br>
		<input type="checkbox">Fedora 21<br>
		</div>
		<br>
		<button type="submit" value="Submit" onclick="createApi()" id="api_btn">Create</button>
		<button type="submit" value="Submit" onclick="createStep()" id="step_btn">Create</button>
  </div>

</div>

        <div id="tabs">
            <ul class="tabs-nav"></ul>
        </div>
    </div>
	<div id="debug-area"></div>
</div>

<script>

    var editors = [];

    const dirTree = require('directory-tree');
    const {ipcRenderer} = require('electron');
    const remote = require('electron').remote;
    const dialog = require('electron').remote.dialog;
    const fs = require('fs'); // Load the File System to execute our common tasks (CRUD)
    var file_data = "";



    $(".tabs-nav").on("click", ".close", function (ev) {
        ev.preventDefault();
        ev.stopPropagation();

        var tabId = $(this).parent('a').attr('href').replace('#', '');
        close_tab(tabId);
    });

    $("body").on("click", ".CodeMirror-sizer .CodeMirror-linenumber", function (ev) {
        ev.preventDefault();
        ev.stopPropagation();

        $(this).toggleClass('has-breakpoint');
    });


    //Close tab
    function close_tab(tab_id) {
        $('.tabs-nav a[href="#' + tab_id + '"]').parent().remove();
        $('#tabs div#' + tab_id).remove();
        $("#tabs").tabs("refresh");
    }

    var readFile = function (fileName) {

        var tabId = (new Date()).getTime();

        $("div#tabs ul").append(
            "<li><a href='#tab" + tabId + "' data-file-name='" + fileName + "'>" + fileName + "<span class='close'>x</span></a></li>"
        );
        $("div#tabs").append(
            "<div id='tab" + tabId + "'>" +
            "<div class='editor-wrap'><textarea rows='60' style='resize: none' id='tab" + tabId + "-textarea'></textarea></div>' " +
            "</div>"
        );

        $("div#tabs").tabs("refresh");

        editors['tab' + tabId] = CodeMirror.fromTextArea(document.getElementById("tab" + tabId + "-textarea"), {
            lineNumbers: true,
            mode: "Perl",
            theme: "night",
        });

        $("div#tabs").tabs("option", "active", $("div#tabs ul li").length - 1);

        fs.readFile(fileName, 'utf-8', (err, data) => {
            if (err) {
                dialog.showErrorBox("File Save Error", err.message);
                return;
            }

            file_data = data;

            editors['tab' + tabId].setValue(file_data);
        });
    };

    ipcRenderer.on('open_file', (event, arg) => {
        dialog.showOpenDialog((fileNames) => {
            // fileNames is an array that contains all the selected
            if (fileNames === undefined) {
                console.log("No file selected");
                return;
            }

            var fileName = fileNames[0];

            readFile(fileName);
        });
    });

    ipcRenderer.on('create_file', (event, arg) => {
        create_file2()
    });

    ipcRenderer.on('save_file', (event, arg) => {
        var tab = $('.ui-tabs-active');
        var tabId = tab.find('a').attr('href').replace('#', '');
        saveFile(tabId);
        //close_tab(tabId);
    });

	ipcRenderer.on('createApiTemplate', (event, arg) => {
		document.getElementById("step_btn").style.visibility = "hidden";
        createApiTemplate();
    });

	ipcRenderer.on('createStepTemplate', (event, arg) => {
		document.getElementById("api_btn").style.visibility = "hidden";
		document.getElementById("options").style.visibility = "hidden";
		document.getElementById("step_btn").style.visibility = "visible";
		
        createStepTemplate();
    });


    function open_file() {
        dialog.showOpenDialog((fileNames) => {
            // fileNames is an array that contains all the selected
            if (fileNames === undefined) {
                console.log("No file selected");
                return;
            }

            var fileName = fileNames[0];

            fs.readFile(fileName, 'utf-8', (err, data) => {
                if (err) {
                    dialog.showErrorBox("File Save Error", err.message);
                    return;
                }
                document.getElementById("open_file_path").value = fileName;

                alert("The file has been succesfully opened" + document.getElementById("open_file_path").value);
                // Change how to handle the file content
                document.getElementById("main-text").value = data;
            });
        });

    }

    function create_file() {
        dialog.showSaveDialog(function (fileName) {

            if (fileName === undefined) {
                console.log("No file name entered");
                return;
            }

            fs.writeFile(fileName, "", function (err) {
                if (err) {
                    dialog.showErrorBox("File Save Error", err.message);
                    return;
                }
                document.getElementById("open_file_path").value = fileName;
                alert("The file has been succesfully saved" + document.getElementById("open_file_path").value);

            });

        });

        document.getElementById("main-text").value = ""
    }

    function saveFile(tabId) {
        var filePath = $('.tabs-nav a[href="#' + tabId + '"]').attr('data-file-name');
        console.log("editors", editors);
        console.log("tabId", tabId);
        var content = editors[tabId].getValue()
        console.log('content', content);
        fs.writeFile(filePath, content, (err) => {
            if (err) {
                alert("An error ocurred updating the file" + err.message);
                console.log(err);
                return;
            }

            alert("The file has been succesfully saved");
        });
    }


    function create_file2() {
        dialog.showSaveDialog(function (fileName) {

            if (fileName === undefined) {
                console.log("No file name entered");
                return;
            }

            fs.writeFile(fileName, "", function (err) {
                if (err) {
                    dialog.showErrorBox("File Save Error", err.message);
                    return;
                }
                alert("The file has been succesfully created");

            });

            $('.chrome-tabs').chromeTabs(settings).each((i, obj) => {
                let $chromeTabs = $(obj); // jQuery & class.
                $chromeTabs._ = $chromeTabs.data('chromeTabs');
                let $tabs = $chromeTabs._.addTabs([
                    {
                        title: fileName,
                        favicon: 'https://duckduckgo.com/favicon.ico',
                        url: './new_tab.html?data=' + "" + "&file_name=" + fileName
                    }
                ]);

                //document.getElementById("open_file_path").innerHTML = fileName;
                //$('#open_file_path').text(fileName);

            })

        });

    }


    //Load folder
    ipcRenderer.on('openFolder', (event, arg) => {
        dialog.showOpenDialog({
                properties: ['openDirectory']
            },
            (folders) => {
                var folderName = folders[0];
                var treeData = dirTree(folderName);

                $('.tree-wrapper').empty();
                $('.tree-wrapper').append('<ul class="ztree"></ul>');

                zTreeObj = $.fn.zTree.init($('.tree-wrapper ul'), {}, treeData.children);
            });
    });

    //Log break points
    ipcRenderer.on('debug', (event, arg) => {
        var files = [];

        $('.ui-tabs-panel.ui-widget-content').each(function () {
            var tabID = $(this).attr('id');
            var file = $('a[href="#' + tabID + '"]').attr('data-file-name');

            var editor = $(this).find('.CodeMirror');
            var lines = [];

            $(editor).find('.CodeMirror-linenumber.has-breakpoint').each(function () {
                lines.push($(this).text());
            });

            files.push({
                file: file,
                lines: lines
            });
        });


        console.log("files", files);
    });


    jQuery(function () {
        var tabs = $("#tabs").tabs();
        tabs.find(".ui-tabs-nav").sortable({
            axis: "x",
            stop: function () {
                tabs.tabs("refresh");
            }
        });
    });

	function createStepTemplate()
	{
		//alert("API");
		// Get the modal
		var modal = document.getElementById('myModal');

		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("close")[0];

		// When the user clicks on the button, open the modal
		modal.style.display = "block";
	}
	function createApiTemplate()
	{
		//alert("API");
		// Get the modal
		var modal = document.getElementById('myModal');

		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("close")[0];

		// When the user clicks on the button, open the modal
		modal.style.display = "block";


	}
	var modal = document.getElementById('myModal');
	var span = document.getElementsByClassName("close")[0];
	// When the user clicks on <span> (x), close the modal
	span.onclick = function() {
		modal.style.display = "none";
	}
	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
		if (event.target == modal) {
			modal.style.display = "none";
		}
	}

	function createApi()
	{
		var api_full_path = document.getElementById('api_full_path').value;
		//alert(api_full_path);
		var modal = document.getElementById('myModal');
		modal.style.display = "none";

		if (api_full_path === undefined) {
			alert("No API name entered");
			return;
		}
		
		//$host->api->shell->hypervisor->vfs->bus->show_max_allowed_vfs($bus_number)
		var [api_file_name, func_name, params] = extract_api_name_and_file_path(api_full_path);

		
		
		
		fs.readFile(api_file_name, 'utf-8', (err, data) => {
			if (err) {
				fs.writeFile(api_file_name, "", function (err) {
					if (err) {
						dialog.showErrorBox("File Save Error", err.message);
						return;
					}
					alert("The file has been succesfully created");

				});
			}
		});
			
		//append to file;
		var header;
		header = `
# FUNCTION NAME: `+func_name+`
# WRITTEN BY:
# DATE: 
# PURPOSE: 
# NOTES: 
# HISTORY: 
# IN PARAMS: `+params+`
# OPTIONAL: 
# RETURNED VALUES: hash reference of: status: Pass: 0. Fail: 1.
#                           error: User defined error message in case of failure
#                           value: None
# Sample call: `+api_full_path;
	
	
	var params_num = params.split(",");
	var params_num = params_num.length;
	
	var params_dollars_number = "";
	for (i = 0; i < params_num; i++) { 
		params_dollars_number += "\$";
	}
	
	var func_tag = "sub "+func_name+"("+params_dollars_number+")";
	
	var splitted_params = params;
		
	var params_without_dollars = params;
	params_without_dollars = params_without_dollars.replace(/\$/g, "");
	
	var params_vars = `\n    my \$self = shift;
    my (`+splitted_params+`) = \@_;
    printer::Logger_screen_message(\"Info\", \" Function started\", \"\", \$logger);
    global::check_params(\"`+params_without_dollars+`\",\@_);
	
	# API implenetation will be here
	`;
	
	var apiContent = header+"\n"+func_tag+"\n{"+params_vars+"\n}\n";
	

		fs.appendFile(api_file_name, apiContent, function (err) {
		    if (err)
			{
				dialog.showErrorBox("unable to append API content to file", err.message);
				return;
			}
		});

		readFile(api_file_name);
	}
	
	function extract_api_name_and_file_path(api)
	{	
		var path, func_name, tmp_path, params, params;
		
		//# $host->api->shell->tools->iproute->devlink->device->change_mode_legacy($bus)
		//# should return: change_mode_legacy, and
		//# /.autodirect/swgwork/mohammadah/trunk/
		//# host_api/shell/tools/iproute/devlink/device/host_linux_api_shell_tools_iproute_devlink_device.pm
		
		if(!api.search(/^$host->api/i))
		{
			return;
		}
		
		// ->shell->tools->iproute->devlink->device->change_mode_legacy($bus)
		api = api.replace(/\$host->api/i,"");
		
		// shell->tools->iproute->devlink->device
		var rx = /->(.*)->/g;
		var tmp_path = rx.exec(api);

		tmp_path = tmp_path[1];
		tmp_path = tmp_path.replace(/->/g,"\\");
		
		var file_path = tmp_path;
		
		tmp_path = tmp_path.replace(/\\/g,"_");
		
		path = "C:\\Users\\mabuhassan\\Desktop\\Hack\\test\\H-IDE\\host_api\\"+file_path+"\\host_linux_api_"+tmp_path+".pm";

		// ->shell->tools->iproute->devlink->device->change_mode_legacy($bus)
		// change_mode_legacy($bus)

		rx = /->(.*)\(/;
		func_name = rx.exec(api);
		
		func_name = func_name[1];
		func_name = func_name.replace(/.*->/g,"");
		//alert(func_name);
		
		rx = /\((.*)\)/;
		params = rx.exec(api);
		params = params[1];

		return [path, func_name, params];
	}
	
	function extract_step_name_and_file_path(api)
	{	
		var path, func_name, tmp_path, params, params;
		
		//# $host->api->shell->tools->iproute->devlink->device->change_mode_legacy($bus)
		//# should return: change_mode_legacy, and
		//# /.autodirect/swgwork/mohammadah/trunk/
		//# host_api/shell/tools/iproute/devlink/device/host_linux_api_shell_tools_iproute_devlink_device.pm
		
		if(!api.search(/^$steps->host/i))
		{
			return;
		}
		
		// ->shell->tools->iproute->devlink->device->change_mode_legacy($bus)
		api = api.replace(/\$steps->host/i,"");
		
		// shell->tools->iproute->devlink->device
		var rx = /->(.*)->/g;
		var tmp_path = rx.exec(api);

		tmp_path = tmp_path[1];
		tmp_path = tmp_path.replace(/->/g,"\\");
		
		var file_path = tmp_path;
		
		tmp_path = tmp_path.replace(/\\/g,"_");
		
		path = "C:\\Users\\mabuhassan\\Desktop\\Hack\\test\\H-IDE\\steps_api\\host\\"+file_path+"\\steps_api_host_"+tmp_path+".pm";

		// ->shell->tools->iproute->devlink->device->change_mode_legacy($bus)
		// change_mode_legacy($bus)

		rx = /->(.*)\(/;
		func_name = rx.exec(api);
		
		func_name = func_name[1];
		func_name = func_name.replace(/.*->/g,"");
		//alert(func_name);
		
		rx = /\((.*)\)/;
		params = rx.exec(api);
		params = params[1];

		return [path, func_name, params];
	}
	
	function createStep()
	{
		var api_full_path = document.getElementById('api_full_path').value;
		//alert(api_full_path);
		var modal = document.getElementById('myModal');
		modal.style.display = "none";

		if (api_full_path === undefined) {
			alert("No API name entered");
			return;
		}
		
		//$host->api->shell->hypervisor->vfs->bus->show_max_allowed_vfs($bus_number)
		var [api_file_name, func_name, params] = extract_step_name_and_file_path(api_full_path);

		
		
		
		fs.readFile(api_file_name, 'utf-8', (err, data) => {
			if (err) {
				fs.writeFile(api_file_name, "", function (err) {
					if (err) {
						dialog.showErrorBox("File Save Error", err.message);
						return;
					}
					alert("The file has been succesfully created");

				});
			}
		});
			
		//append to file;
		var header;
		header = `
# FUNCTION NAME: `+func_name+`
# WRITTEN BY:
# DATE: 
# PURPOSE: 
# NOTES: 
# HISTORY: 
# IN PARAMS: `+params+`
# OPTIONAL: 
# RETURNED VALUES: hash reference of: status: Pass: 0. Fail: 1.
#                           error: User defined error message in case of failure
#                           value: None
# Sample call: `+api_full_path;
	
	
	var params_num = params.split(",");
	var params_num = params_num.length;
	
	var params_dollars_number = "";
	for (i = 0; i < params_num; i++) { 
		params_dollars_number += "\$";
	}
	
	var func_tag = "sub "+func_name+"("+params_dollars_number+")";
	
	var splitted_params = params;
		
	var params_without_dollars = params;
	params_without_dollars = params_without_dollars.replace(/\$/g, "");
	
	var params_vars = `\n    my \$self = shift;
    my (`+splitted_params+`) = \@_;
    printer::Logger_screen_message(\"Info\", \" Function started\", \"\", \$logger);
    global::check_params(\"`+params_without_dollars+`\",\@_);
	
	my (\$action, \$expect, \$cmd_result);
	`;
	
	var steps_cnt = `    \$action=\"action will be here\";
    \$expect=\"Operation succeeded\";
    printer::colorized_msg (\"\$action\\n\",\"green\");
    #########################################################################################

    #\$cmd_result = call API;
    \$self->report_step_result(\$reporter, \$action, \$expect, \$cmd_result->{error});\n\n`;
	
	var apiContent = header+"\n"+func_tag+"\n{"+params_vars+"\n"+steps_cnt+"}\n";
	

		fs.appendFile(api_file_name, apiContent, function (err) {
		    if (err)
			{
				dialog.showErrorBox("unable to append API content to file", err.message);
				return;
			}
		});

		readFile(api_file_name);
	}
	
	// compile
	ipcRenderer.on('compile', (event, arg) => {		
		var sync = require('child_process').spawnSync;
		
		var ls = sync('perl', ['-c', 'test.pl']);

		console.log(ls.stderr.toString());
		var out = ls.stderr.toString();
		out = out.replace(/syntax/ig, "<br/>syntax");
		out = out.replace("<br/>", "");
		out = out.replace("test.pl had compilation errors.", "<br/>test.pl had compilation errors.");
		document.getElementById('debug-area').innerHTML = out;

    });

    window.addEventListener('load', function () {
        var folderName = "./";
        readFile('./initial.txt');

        var treeData = dirTree(folderName);

        zTreeObj = $.fn.zTree.init($('.tree-wrapper ul'), {
            callback: {
                onMouseUp: function (p1, p2, p3) {
                    if (p3 && p3.type == 'file') {
                        readFile('./' + p3.path);
                    }
                }
            }
        }, treeData.children);
    }, false)

</script>
</body>
</html>
