<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>IDE</title>
	<link href="../css/jqueryFileTree.css" rel="stylesheet" type="text/css"media="screen" />


<link rel="stylesheet" href="../node_modules/x-chrome-tabs/src/css/base.min.css"/>
<link rel="stylesheet" href="../css/main.css"/>
</head>
<body>
<!-- All of the Node.js APIs are available in this renderer process. -->
<!--We are using Node.js <script>document.write(process.versions.node)</script>,
Chromium <script>document.write(process.versions.chrome)</script>,
and Electron <script>document.write(process.versions.electron)</script>.
-->

<!--<textarea rows="30" cols="85" style="resize: none" id="main-text">
</textarea>-->


<div class="wrapper">
    <div class="tree-wrapper">
	    <h3>Hi</h3>
		<div id="mainwindow" class="demo"></div>
    </div>
    <div class="main-wrapper">
        <div class="chrome-tabs"></div>

        <div class="etabs-views"></div>

        <div id="open_file_path" hidden></div>
    </div>
</div>
<script>
    // You can also require other files to run in this process
	    //let $ = require('jquery');
    let tm=require('../renderer.js')
	require('../js/jquery.js')
	require('../js/jquery.easing.js')
	require('../js/jqueryFileTree.js')
	console.log("%$%$%$%")

    //$.fn.chromeTabs = require('x-chrome-tabs');
    //var el = document.querySelector('.chrome-tabs')
    //var chromeTabs = $('.chrome-tabs').chromeTabs;

    $(document).ready(() => {
	console.log("!!!!!!")
        //chromeTabs.init(el, {
          //  tabOverlapDistance: 14,
           // minWidth: 45,
            //maxWidth: 243
        //})
		$('#mainwindow').fileTree({ root: '/windows/', script: '../connectors/jqueryFileTree.js' }, function(filename) { 
				console.log("^^^^^^^")
				alert(filename);
			});
    });

    let settings = {
        minWidth: 45,
        maxWidth: 243,
        leftPadding: 0,
        leftPaddingMobile: 0,
        rightPadding: 300,
        rightPaddingMobile: 0,
        overlapDistance: 14,
        views: 'iframes', // or `webviews`.
        // `webviews` = Electron compatibility.
        // Or leave empty to disable views entirely.
        allowDragNDrop: true,
        allowDoubleClick: true,
        debug: 3 // Enable debugging for tests.
    };


    /*
     ipcRenderer.on('asynchronous-reply', (event, arg) => {
     console.log(arg) // prints "pong"
     document.getElementById("main-text").value = "adddd";

     })*/

</script>
</body>
</html>
