<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../lib/codemirror.css">
    <link rel="stylesheet" href="../lib/night.css">

    <script src="../lib/codemirror.js"></script>
    <script src="../lib/perl.js"></script>
</head>
<body>
<!-- All of the Node.js APIs are available in this renderer process. -->
<!--We are using Node.js <script>document.write(process.versions.node)</script>,
Chromium <script>document.write(process.versions.chrome)</script>,
and Electron <script>document.write(process.versions.electron)</script>.
-->
<div id="tab_file_path" hidden></div>
<textarea rows="30"
          cols="85"
          style="resize: none"
          id="main-text"></textarea>

<script src="../lib/codemirror.js" type="text/javascript"></script>
<script src="../lib/perl.js" type="text/javascript"></script>

<script LANGUAGE="JavaScript">

    var editor = CodeMirror.fromTextArea(document.getElementById("main-text"), {
        lineNumbers: true,
        mode:  "Perl",
        theme: "night",

    });

    function getParams() {
        var idx = document.URL.indexOf('?');
        var params = new Array();
        if (idx != -1) {
            var pairs = document.URL.substring(idx + 1, document.URL.length).split('&');
            for (var i = 0; i < pairs.length; i++) {
                nameVal = pairs[i].split('=');
                params[nameVal[0]] = nameVal[1];
            }
        }
        return params;
    }
    params = getParams();
    data = params["data"];
    file_path = params["file_name"];
    //document.getElementById("main-text").value = data;

    document.getElementById("tab_file_path").innerHTML = file_path;
    /*var editor = CodeMirror.fromTextArea(document.getElementById("main-text"), {
     mode: "text/html",
     matchBrackets: true,
     lineNumbers: true,
     });*/
    //$('#open_file_path').text(fileName);
    //alert(document.getElementById("tab_file_path").innerHTML);
</script>
</body>
</html>
