<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../lib/codemirror.css">
    <link rel="stylesheet" href="../lib/night.css">

    <script src="../lib/codemirror.js"></script>
    <script src="../lib/perl.js"></script>
</head>
<body>
<textarea rows="30"
          cols="85"
          style="resize: none"
          id="main-text"></textarea>

<script src="../lib/codemirror.js" type="text/javascript"></script>
<script src="../lib/perl.js" type="text/javascript"></script>

<script type="text/javascript">
    const fs = require('fs');

    var editor = CodeMirror.fromTextArea(document.getElementById("main-text"), {
        lineNumbers: true,
        mode: "Perl",
        theme: "night",
    });

    function getParams() {
        var idx = document.URL.indexOf('?');
        var params = new Array();
        if (idx != -1) {
            var pairs = document.URL.substring(idx + 1, document.URL.length).split('&');
            for (var i = 0; i < pairs.length; i++) {
                nameVal = pairs[i].split('=');
                params[nameVal[0]] = nameVal[1];
            }
        }
        return params;
    }

    params = getParams();
    file_path = params["file_name"];

    fs.readFile(file_path, 'utf-8', (err, data) => {
        console.log("fileName", fileName);

        if (err) {
            dialog.showErrorBox("File Save Error", err.message);
            return;
        }

        file_data = data;

        editor.setValue(file_data);
    });

</script>
</body>
</html>
